
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* CSS standard variable  */
:root {
    --header-height: 3rem; /* 48px*/
    /* Colors */
    --first-color: #069c54;
    --first-color-alt: #048654;
    --title-color: #393939;
    --text-color: #707070;
    --text-color-light: #a7a7a7;
    --body-color: #fbfefd;
    --container-color: #ffffff;
    /* Fonts  */
    --body-font: "Open Sans", sans-serif;
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.938rem;
    --smaller-font-size: 0.938rem;
  
    /* Font weight  */
    --font-medium: 500;
    --font-semi-bold: 600;
  
    /* Margins  */
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
  
    /* Z index  */
    --z-tooltip: 10;
    --z-fixed: 100;
  }


/* Using vars when the screen goes beyond 768px  */
@media screen and (min-width: 768px) {
    :root {
      --biggest-font-size: 4rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: 0.875rem;
      --smaller-font-size: 0.813rem;
    }
  }
  

/* HTML BASE  */
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    line-height: 1.5;
}

h1, h2, h3, h3, p, ul{
    margin: 0;
  }


ul{
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
  }
  
img{
    max-width: 100%;
    height: auto;
}


/*==============================Layout============================== */
.body-container{
  max-width:960px;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.bd-grid{
  display: grid;
  gap: 1.5rem;

}

.l-header{
  width: 100%;
  position:fixed;
  top:0;
  left:0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

.fetching-message{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*==============================Menu============================== */
.menu-container{
  grid-template-columns: repeat(1, 1fr);
  justify-content: space-between;
  
}

.menu-content{
  position: relative;
  display: flex;
  flex-direction: column;
  
  background: var(--container-color);
  border-radius: 20% 15px 15px 15px;
  box-shadow: 0 2px 4px rgba(3,74,40,.15);
}

.menu-img{
  width: 100%; 
  height: auto; 
  border-radius: 20% 15px 0 0;
}

.menu-name{
  font-size: var(--normal-font-size);
  padding-top: 0.5rem;
  color: var(--title-color);
}

 .menu-preci{
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.menu-detail{
  margin-bottom: var(--mb-1);
  color: var( --text-color);
  font-size: var(--small-font-size);
  text-align: start;
}

.menu-name, .menu-preci, .menu-detail{
  flex: 1;
  padding-left: 0.5rem;
  padding-right: 0.5rem
}



/*==============================Button============================== */
.button{
  font-family:  var( --body-font);
  font-weight: var(--font-semi-bold);
  font-size: 0.7rem;
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  margin-top: var(--mb-1);
  padding: 0.5rem 1rem;
  border-radius: 0px 15px 0 10px;
  border-width:0;
  cursor: pointer;
}



/*==============================Checkout window============================== */
.submit-title{
  font-weight: var(--font-semi-bold);
  font-size: var(--h2-font-size);
  color: var(--title-color);
}

.total-checkout{
  margin: 1rem 0;
  color: var(--title-color);
  font-size: var(--normal-font-size);
  display: flex;
  flex-direction: row-reverse;
  padding-top: 0.5rem;
  font-weight: var(--font-semi-bold);
}

.btn-checkout-container{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 1rem;
}

/* Control form */
.control{
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
}

.control label{
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  margin-bottom: 0.5rem;
}

.control input{
  width: 100%;
  max-width: 20rem;
  font: inherit;
  padding: 0.2rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.control-row{
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}


.section-title{
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-3);

}

/*==============================Section============================== */
.section{
  padding: 4rem 0 2rem; /*Top, RH/LH, Bottom */
}

.section-title{
  text-align: center;
  font-weight: 700;
}

/*==============================Layout============================== */
.bd-container{
  max-width: 960px;
  width: calc(100% - 2rem);
  /* background-color: gray; */
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.bd-grid{
  display: grid;
  gap: 1.5rem;
}
.l-header{
  width:100%;
  position: fixed;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}


/*==============================Home============================== */
.home-container{
  height: calc(100vh - var(--header-height));
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.7)),url("./assets/hero-image.jpg") ;
  background-size: cover;
  background-position: center;
}

.home-title{
  font-size: var(--biggest-font-size);
  font-weight: 500;
  margin-bottom: var(--mb-1);
}

.home-subtitle{
  font-weight: 500;
}

.btn-home{
  font-family:  var( --body-font);
  font-weight: var(--font-semi-bold);
  font-size: var(--normal-font-size);
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  margin-top: var(--mb-4);
  padding: 0.5rem 1rem;
  width: 130px;
  border-radius:10px;
  border-width:0;
  cursor: pointer;

}

.btn-home:hover{
  background-color: var(--first-color-alt);
}


/*==============================Service============================== */
.services-container{
  row-gap:2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
}

.services-content{
  text-align: center;
}

.services-img{
  width: 64px;
  height: 64px;
  margin-bottom: var(--mb-2);
}

.services-title{
  font-size: var(--h3-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-1);
}

.services-description{
  padding: 0 1.5rem;
}

/*==============================About============================== */
.about-data{
  text-align: center;

}

.about-data span{
  color: var(--text-color-light);
}

/* .about-description{
  margin-bottom: var(--mb-4);
} */

.about-img{
  width: 280px;
  border-radius: .2rem;
  justify-self:center ;
}

.btn-about{
  font-family:  var( --body-font);
  font-weight: var(--font-semi-bold);
  font-size: var(--normal-font-size);
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  margin-top: var(--mb-4);
  padding: 0.5rem 1rem;
  width: 150px;
  border-radius:10px;
  border-width:0;
  cursor: pointer;
}

.btn-about:hover{
  background-color: var(--first-color-alt);
}

/*==============================Contact============================== */
.contact-container{
  text-align: center;
}

/* .contact-description{
  margin-bottom: var(--mb-3);
} */

.btn-contact{
  font-family:  var( --body-font);
  font-weight: var(--font-semi-bold);
  font-size: var(--normal-font-size);
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 0.5rem 1rem;
  width: 160px;
  border-radius:10px;
  border-width:0;
  cursor: pointer;
  margin-top: var(--mb-4);
}


.btn-contact:hover{
  background-color: var(--first-color-alt);
}



/*==============================Footer============================== */
.footer-container{
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  
}

.footer-logo{
  font-size: var(--h3-font-size);
  color: var(--title-color);
  font-weight: 700;
}

.footer-social{
  font-size: 1.5rem;
  color: var(--text-color);
  margin-right: var(--mb-2)
}

.footer-title{
  font-size: var(--h2-font-size);
  color:var(--title-color);
  margin-bottom: var(--mb-1);
}

.footer-link{
  display: inline-block;
  color:var(--text-color);
  margin-bottom: var(--mb-1);
}

.footer-link:hover{
  color:var(--first-color);
  }

.footer-copy{
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.footer-copy-logo a{
  font-size: 1.2rem;
  color: var(--text-color-light);
}

/*==============================Error============================== */
.error{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.error h1{
  font-weight: 600;
  color: var(--title-color);
  text-align: center;
}

.error p{
  font-weight: 400;
  color: var(--text-color-light);
  text-align: center;
}

.error img{
  width: 200px;
  height: 200px;
}

.btn-error{
  font-family:  var( --body-font);
  font-weight: var(--font-semi-bold);
  font-size: var(--normal-font-size);
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 0.5rem 0.5rem;
  width: 140px;
  border-radius:10px;
  border-width:0;
  cursor: pointer;
  margin: var(--mb-4);
}

.btn-error:hover{
  background-color: var(--first-color-alt);
}


/*==============================Responsive Screen============================== */


@media screen and (max-width: 916px){
  

    /* Shopping Cart container < 916px */
  .modal
  {
  width: 60%;
  border-radius: 10px;
  border: 0;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  animation: slide-from-right 0.2s ease-out forwards;

  }
  .modal::backdrop {
    background-color: rgba(0, 0, 0, 0.55);
  }


  .cart-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
  }

  .cart-item{
    display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }

  .cart-title{
    font-weight: var(--font-semi-bold);
    font-size: var(--h2-font-size);
    color: var(--title-color);
    text-align: center;
  }

  .cart-total{
    margin: 1rem 0;
    color: var(--title-color);
    font-size: var(--normal-font-size);
    display: flex;
    flex-direction: column;
  }

  .cart-total-name{
    display: flex;
    flex-direction: row-reverse;
  }

  .cart-total-name:nth-child(1),
  .cart-total-name:nth-child(2),
  .cart-total-name:nth-child(3) {
    color: gray;
  }
  .cart-total-name:nth-child(4){
    padding-top: 0.5rem;
    font-weight: var(--font-semi-bold);
  }



  .cart-item-image{
    width: 150px;
    height: 150px;
    object-fit: cover;
  }

  .cart-item-image img{
    border-radius: 20px;
  }

  .cart-item-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cart-item-quantity{
    display: flex;
    align-items: center;
  }

  .cart-item-price{
    display: flex;
    align-items: center;
  }

  .minus-btn, .plus-btn{
    font-size: 1rem;
    color: var(--title-color);
    cursor: pointer;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 20px;
    border: none;
    background-color: #E0E0E0;
    padding: 0.5rem 0.8rem;
  }

  .minus-btn:hover, .plus-btn:hover, .close-btn:hover{
    background-color: #D0D0D0;
  }

  .cart-btn{
    display: flex;
    flex-direction: column;
  }

  .close-btn{
    font-family:  var( --body-font);
    font-weight: var(--font-semi-bold);
    font-size: var(--normal-font-size);
    border: none;
    padding: 0.8rem 2rem;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 1rem;
  }

  .checkout-btn{
    font-family:  var( --body-font);
    font-weight: var(--font-semi-bold);
    font-size: var(--normal-font-size);
    border: none;
    padding: 0.8rem 2rem;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 1rem;
  }

  .checkout-btn{
    background-color: var(--first-color);
    color: #ffff;
  }

  .checkout-btn:hover, .addCart-btn:hover, .ok-btn:hover {
    background-color: var(--first-color-alt);
  }

  /* Shopping Cart container < 916px */
  .btn-checkout-container{
    display: grid;

  }
}


@media screen and (min-width: 576px){
  .button{
    font-family:  var( --body-font);
    font-weight: var(--font-semi-bold);
    font-size: var(--normal-font-size);
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    margin-top: var(--mb-1);
    padding: 0.5rem 1rem;
    border-radius: 0px 15px 0 10px;
    border-width:0;
    cursor: pointer;
  }


  .home-container, .about-container{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .about-data, .about-initial,
  .contact-container, .contact-initial{
    text-align: initial;
  }

  .about-img, .app-img{
    width: 380px;
  }

  .contact-container{
    grid-template-columns:1.75fr 1fr;
    align-items: center;
  }

  .contact-button{
    justify-content: center;

  }

/* Shopping cart module if scrren > 576px */

  .modal
  {
   width: 40%;
   border-radius: 10px;
   border: 0;
   background-color: #ffffff;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   animation: slide-from-right 0.2s ease-out forwards;
   top: -0%;
   right: -60%;
  }
  .modal::backdrop {
    background-color: rgba(0, 0, 0, 0.55);
  }


  .cart-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
  }
  
  .cart-item{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
  }
  
  .cart-title{
    font-weight: var(--font-semi-bold);
    font-size: var(--h2-font-size);
    color: var(--title-color);
  }
  
  .cart-total{
    margin: 1rem 0;
    color: var(--title-color);
    font-size: var(--normal-font-size);
    display: flex;
    flex-direction: column;
  }
  
  .cart-total-name{
    display: flex;
    flex-direction: row-reverse;
  }
  
  .cart-total-name:nth-child(1),
  .cart-total-name:nth-child(2),
  .cart-total-name:nth-child(3) {
    color: gray;
  }
  .cart-total-name:nth-child(4){
    padding-top: 0.5rem;
    font-weight: var(--font-semi-bold);
  }
  
  
  
  .cart-item-image{
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  
  .cart-item-image img{
    border-radius: 20px;
  }
  
  .cart-item-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .cart-item-quantity{
    display: flex;
    align-items: center;
  }
  
  .cart-item-price{
    display: flex;
    align-items: center;
  }
  
  .minus-btn, .plus-btn{
    font-size: 1rem;
    color: var(--title-color);
    cursor: pointer;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 20px;
    border: none;
    background-color: #E0E0E0;
    padding: 0.5rem 0.8rem;
  }
  
  .minus-btn:hover, .plus-btn:hover, .close-btn:hover{
    background-color: #D0D0D0;
  }
  
  .cart-btn{
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
  }
  
  .close-btn{
    font-family:  var( --body-font);
    font-weight: var(--font-semi-bold);
    font-size: var(--normal-font-size);
    border: none;
    padding: 0.8rem 2rem;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 1rem;
  }
  
  .checkout-btn{
    font-family:  var( --body-font);
    font-weight: var(--font-semi-bold);
    font-size: var(--normal-font-size);
    border: none;
    padding: 0.8rem 2rem;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 1rem;
  }
  
  .checkout-btn{
    background-color: var(--first-color);
    color: #ffff;
  }
  
  .checkout-btn:hover, .addCart-btn:hover, .ok-btn:hover {
    background-color: var(--first-color-alt);
  }


      
}

@media screen and (min-width: 768px){
  .menu-container{
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;  
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);

  }

  .nav-logo{
    font-size: var(--h2-font-size);
  }

  .nav-list{
    display:flex;
  }

  .nav-item{
    margin-bottom: 0;
    margin-left: var(--mb-5);
  }

  .nav-toggle{
    display: none;
  }

  .menu-container{
    grid-template-columns: repeat(2, 256px);
  
  }

  .menu-img{
    width:100%; 
  }


  body{
    margin:0;
  }

  .section{
    padding-top: 8rem;
  }
  .home-container{
    height: 100vh;
    justify-content: center;
  }

  .services-container, .menu-container{
    margin-top: var(--mb-6);
  }

}

@media screen and (min-width: 960px){

  .menu-container{
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-between;
    
  }

  .bd-container{
    margin-left: auto;
    margin-right: auto;
  }

  .nav-logo{
    font-size: var(--h1-font-size);
  }

  .menu-container{
    grid-template-columns: repeat(3, 256px);
  
  }

  .home-img{
    width: 500px;
  }

  .about-container{
    column-gap: 7rem;
  }

}



/*==============================Animation============================== */


  /* Add a class for closing the modal */
  .modal.closing {
    animation: slide-to-right 0.2s ease-out forwards;
  }


@keyframes slide-from-right {
  from {
      transform: translateX(100%);
  }
  to {
      transform: translateX(0);
  }
}


@keyframes slide-to-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}