@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*==============================Nav bar============================== */
.nav{
    max-width: 1024px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between ;
    align-items: center;
}

/* ---- Change backgound  ---- */
.scroll-header{
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

/* Show menu  */ 
.show-menu{
  /* Move  nav-bar down  */
  top: var(--header-height); 
}


.active-link{
  color:red;
}
  
/* New nav bar when the screen < 768px */
@media screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1.5rem 0 1rem;
    text-align: center;
    background-color: var(--body-color);
    transition: .4s;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1);
    border-radius: 0 0 1rem 1rem;
    z-index: var(--z-fixed);
  }
  .active-link{
    color:red;
  }

  .show-menu{
    top: 2.5rem; 
  }
}


.nav-item{
  margin-bottom: var(--mb-2);

}

.nav-link, .nav-toggle{
  color: var(--title-color);
  font-size: var(--normal-font-size);
  font-weight: var( --font-semi-bold);
}

.title{
  display: flex ;
  align-items: center;
  justify-content: center;
}

.nav-logo{
  font-family: "Kanit", sans-serif;
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
  color: var(--title-color);
}


#thai-food-icon{
  height: 35px;
  width: 35px;
}

.nav-link{
  transition: .3s;

}

.nav-link:hover{
  color: var(--first-color);
}

.nav-toggle{
  display: flex;
  justify-content: center;
  cursor: pointer;
}



.cart-toggle-icon{
  display: flex ;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}


.shopping-cart:hover{
  color: var(--text-color);
}

.shopping-cart{
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 0px;
  background: transparent;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 600;
  color: var(--title-color);
  padding: 0.2rem;
}